@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.donate {
  /*padding: 50px*/
  background-color: #FFF;
  width: 500px;
  color: #000;
  border: 1px solid #DADDE8;

}

.donate p {
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}

.donate h3 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
}

.denomination {
  float: left;
  width: 33%;
  text-align: center;
  padding: 13px 0;
  cursor: pointer;
  background-color: #f4f4f4;
  margin: 0 1px 1px 0;
  transition: background-color 0.2s ease;
}

.denomination label {
  font-weight: 600;
  cursor: pointer;
}

.denomination input {
  left: -10001px;
  position: absolute;
}

.denomination-other {
  width: 99.8%;
}

.denomination-other input {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: inherit;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #DADDE8;
  padding: 13px 0;
  transition: background-color 0.2s ease;
}

.denomination-other input:hover {
  background-color: #505050;
  color:#fff;
}

.denomination-other input:before {
  position: absolute;
  left: 6px;
  top: 2px;
  content: "$";
}

.donate-amount .selected, .denomination-other input.selected, .donate-amount .denomination:hover {
  background-color: #505050;
  border: 0;
  color: #fff;
}

.donate-black h2 {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 32px;
  margin-bottom: 30px;
}

.donate-black h2 span {
  display: block;
  float: left;
  font-size: 16px;
  padding-top: 7px;
  margin-right: 20px;
  text-align: center;
  width: 30px;
  height: 25px;
  background-color: #f4f4f4;
  border-radius: 50%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.donate-type label,
.donate-payment label {
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

.donate-blue {
  background-color: #FFF;
  padding: 25px;
  border-top: 1px solid #DADDE8;
  border-bottom: 1px solid #DADDE8;

}

.donate-black {
  padding: 25px;
}

.donate-submit button {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background-color: #505050;
  border: none;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 0;
  margin: 30px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.donate-submit small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}

:-moz-placeholder {
  color: #000;
  font-weight: 300;
}

::-moz-placeholder{
  color: #000;
  font-weight: 300;
}

::-moz-placeholder .hover{
    color: #fff;
    font-weight: 300;
  }

:-ms-input-placeholder {
  font-weight: 300;
  color: rgb(0, 0, 0);
}

*:focus {
  outline: none;
}